@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
@theme {
  --color-slate-900: #0f172a;
}
@layer base {
  body {
    @apply bg-slate-950 text-slate-100;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}